
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font: "Inter", sans-serif;
    --primary-100:#F26CF9;
    --primary-90:#F589FA;
    --primary-50:#FCD3FE;
    --primary-40:#FCD2FE;
    --primary-30:#FDEDFE;
    --secondary-110:#1C2346;
    --secondary-100:#37437D;
    --secondary-90:#5562A2;
    --secondary-70:#707DBF;
    --secondary-60:#ABB4DD;
    --secondary-50:#D3DAF9;
    --yellow-100:#FFCA39;
    --yellow-90:#FFEFC3;
    --gray-10:#FFFFFF;
    --gray-20:#F7F7F7;
    --gray-30:#EDEDED;
    --gray-40:#E0E0E1;
    --gray-50:#C3C3C4;
    --gray-60:#9F9FA1;
    --gray-70:#777779;
    --gray-80:#636365;
    --gray-90:#434345;
    --gray-100:#1E1E20;
    --cool-gray-10:#EEEFFF;
    --cool-gray-20:#E4E5F5;
    --cool-gray-30:#DDDEED;
    --cool-gray-40:#D1D2E0;
    --cool-gray-50:#B0B1BD;
    --cool-gray-60:#8F8F99;
    --cool-gray-70:#72737A;
    --cool-gray-80:#56565C;
    --cool-gray-90:#39393D;
    --cool-gray-100:#131314;
    --headline-color:var(--secondary-100);
    --text-color:var(--gray-100);
    --text-muted-color:var(--gray-60);
    --background-color: var(--gray-10);
    --nav-background-color: var(--cool-gray-20);
    --header-background-color:var(--gray-20);
    --main-background-color:var(--gray-20);
    --footer-background-color:var(--gray-20);
    --section-background-color:var(--gray-20);
    --border-color:var(--gray-40);
    --separator-border-color:var(--gray-40);
    --separator-text-color:var(--gray-60);
    --separator-background-color:var(--gray-10);
    --link-color:var(--primary-100);
    --link-hover-color:var(--primary-90);
    --card-background-color:var(--gray-10);
    --card-border-color:var(--gray-20);
    --button-text-color:var(--gray-90);
    --button-border-color:transparent;
    --button-background-color:transparent;
    --button-hover-text-color:var(--gray-90);
    --button-hover-border-color:transparent;
    --button-hover-background-color:transparent;
    --button-link-text-color:var(--primary-100);
    --button-link-border-color:transparent;
    --button-link-background-color:transparent;
    --button-link-hover-text-color:var(--primary-100);
    --button-link-hover-border-color:transparent;
    --button-link-hover-background-color:transparent;
    --button-primary-text-color:var(--gray-10);
    --button-primary-border-color:var(--primary-100);
    --button-primary-background-color:var(--primary-100);
    --button-primary-hover-text-color:var(--gray-10);
    --button-primary-hover-border-color:var(--primary-90);
    --button-primary-hover-background-color:var(--primary-90);
    --button-secondary-text-color:var(--secondary-100);
    --button-secondary-border-color:var(--cool-gray-10);
    --button-secondary-background-color:var(--cool-gray-10);
    --button-outline-text-color: var(--gray-90);
    --button-outline-border-color: var(--gray-30);
    --button-outline-background-color: transparent;
    --input-background-color: var(--gray-10);
    --input-border-color: var(--gray-40);
    --input-border-focus-color: var(--primary-50);
    --input-text-color: var(--gray-100);
    --input-placeholder-color: var(--gray-50);
    --checkbox-background-color: var(--gray-10);
    --checkbox-border-color: var(--gray-40);
    --checkbox-checked-background-color: var(--primary-100);
    --checkbox-checked-border-color: var(--primary-100);
    --checkbox-checked-text-color: var(--gray-10);


}

html, body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    font-family: var(--font);
    color: var(--text-color);
    background-color: var(--background-color);
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.portal-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav"
                         "main"
                         "footer";
    

    @media(width >= 768px) {
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "nav header "
                            "nav main"
                            "nav footer";
    }
    @media(width >= 1400px) {
        grid-template-columns: 80px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "nav header "
                            "nav main"
                            "nav footer";
    }
   
}

nav {
    grid-area: nav;
    background-color: var(--nav-background-color);
    border-radius: 1rem;
    padding: 1.5rem;
}

header {
    grid-area: header;
    background-color: var(--header-background-color);
    border-radius: 1rem;
    padding: 1.5rem;
}

main {
    grid-area: main;
    background-color: var(--main-background-color);
    border-radius: 1rem;
    padding: 1.5rem;

}

footer {
    grid-area: footer;
    background-color: var(--footer-background-color);
    border-radius: 1rem;
    padding: 1.5rem;

}